@font-face {
font-family: 'arnamu';
src: url('arnamu.eot');
src: url('arnamu.eot?#iefix') format('embedded-opentype'),
	 url('arnamu.woff') format('woff'),
	 url('arnamu.ttf') format('truetype'),
	 url('arnamu.svg#ArianAMURegular') format('svg');
font-weight: normal;
font-style: normal;
}
body{
	font-family:arnamu, Helvetica, sans-serif !important;
	font-size:13px;
}
*{
	font-family:arnamu, sans-serif !important;
}
h1 { font-family:arnamu, Helvetica, sans-serif !important; }
.ui-widget { font-family:arnamu, Helvetica, sans-serif !important; }

.ui-multiselect { font-family:arnamu, Helvetica, sans-serif; padding:3px 0 !important; }
.ui-multiselect span.ui-icon { font-family:arnamu, Helvetica, sans-serif !important; }
.ui-multiselect-single .ui-multiselect-checkboxes input { font-family:arnamu, Helvetica, sans-serif !important; }
.ui-multiselect-single .ui-multiselect-checkboxes label { font-family:arnamu, Helvetica, sans-serif !important; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { font-family:arnamu, Helvetica, sans-serif !important; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { font-family:arnamu, Helvetica, sans-serif !important; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { font-family:arnamu, Helvetica, sans-serif !important; }
.ui-state-hover a, .ui-state-hover a:hover { font-family:arnamu, Helvetica, sans-serif !important; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { font-family:arnamu, Helvetica, sans-serif !important; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { font-family:arnamu, Helvetica, sans-serif !important; }
.ui-widget :active { font-family:arnamu, Helvetica, sans-serif !important; }
#codetovar { font-family:arnamu, Helvetica, sans-serif !important; }
#autocpp { font-family:arnamu, Helvetica, sans-serif !important; }