@charset "utf-8";
* {
	padding: 0;
	margin: 0;
	outline: none;
}
body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}
#body {
	left: 0;
	top: 0;
	position: fixed;
	background-color: #FFFFFF;
	z-index: 999;
	width: 100%;
	height: 100%;
	display: none;
}
img {
	border: none;
}
a {
	cursor: pointer;
	color: #000;
	text-decoration: none;
}
.header {
	width: 1004px;
}
.header_left {
	border-bottom: #f3f3f3 solid 1px;
}
.header_right {
	border-bottom: #f3f3f3 solid 1px;
}
.cont_left {
	background: url(../images/line.png) top repeat-x;
}
.cont_right {
	background: url(../images/line.png) top repeat-x;
}
.maincontent {
	vertical-align: top;
	background: url(../images/line.png) top repeat-x;
}
.footer {
	border-top: #dfdfdf solid 1px;
	height: 100px;
}
.footer .power {
	margin: 10px 20px;
}
.footer td {
	vertical-align: top;
}
.footer td div {
	padding: 5px 0;
}
.topmenu {
	padding: 3px 0 1px 0;
}
.menu ul {
	list-style: none;
}
.menu li {
	display: inline-block;
}
.menu a {
	padding: 0 15px;
	font-weight: bold;
}
.leftCnt {
	width: 234px;
	vertical-align: top;
	padding: 3px 0 0 0;
}
.RightCnt {
	vertical-align: top;
	color: #666666;
	height: 600px;
	padding: 0 10px;
}
.RightCnt a {
	color: #F09;
	display: block;
	padding: 10px 0 0 0;
	text-decoration: underline;
}
.catHeader {
	width: 33px;
	height: 36px;
	background-image: url(../images/204.png);
	font-weight: bold;
	color: #FFFFFF;
	font-size: 13px;
	padding-left: 15px;
}
.catBottom {
	height: 16px;
	font-size: 1px;
	background: url(../images/20416.png) no-repeat;
}
.homeBunner {
	width: 234px;
	height: 140px;
	vertical-align: top;
	padding: 2px 0 0 0;
}
.fadein_bunner {
	position: relative;
	width: 202px;
	text-align: center;
}
.fadein_bunner img {
	position: absolute;
	left: 0;
	top: 0;
	margin: -2px 0 0 0;
	z-index: 1;
	cursor: pointer;
	border: #dfdfdf solid 1px;
	border-radius: 5px;
}
.homePslid {
	padding: 3px 0 0 10px;
	vertical-align: top;
	background: url(../images/slideBg.png) no-repeat 9px 2px;
	height: 215px;
	width:550px;
}
.newsLtt {
	border-left: #dfdfdf solid 1px;
	border-right: #dfdfdf solid 1px;
	padding: 15px 0 0 0;
	text-align: center;
}
.newsLtt dd {
	display: none;
	position: absolute;
	margin: 0 auto;
	height: 30px;
	width: 230px;
	text-align: center;
	background-color: #FFF;
	padding-top: 10px;
	color: red;
	font-weight: bold;
}
.newsLtt #okss {
	border: none;
	background-image: url(../images/ok.png);
	height: 22px;
	width: 36px;
	cursor: pointer;
}
#subscribe {
	height: 23px;
	width: 151px;
	border: none;
	background-image: url(../images/nlbg.png);
	padding: 0 10px;
	color: #999;
	margin: 0 0 0 10px;
}
.inp {
	border: #DEDEDE solid 1px;
	height: 24px;
	line-height: 24px;
	padding: 0 5px;
	width: 240px;
}
.tinp {
	border: #DEDEDE solid 1px;
	padding: 0 5px;
	width: 540px;
}
.binp {
	width: 102px;
	height: 22px;
	text-align: center;
	color: #FFFFFF;
	border: none;
	background-image: url(../images/btn.png);
	cursor: pointer;
}
sup {
	color: #FF0000;
	display: block;
}
.catContent {
	border-left: #dfdfdf solid 1px;
	border-right: #dfdfdf solid 1px;
	padding: 5px 5px 0 5px;
}
#treeMenu li {
	border-left: 1px solid #ef0e73;
	padding: 0 0 10px 10px;
	color: #ef0e73;
	list-style: none;
}
#treeMenu li {
	cursor: default;
}
#treeMenu li.contentContainer {
	background: url('../images/right.png ') no-repeat -3px 4px;
	color: #ef0e73;
	cursor: pointer;
}
#treeMenu li.contentViewing {
	background: url('../images/down.png ') no-repeat -4px 6px;
	color: #ef0e73;
	cursor: pointer;
}
#treeMenu li.contentContainerMain {
	background: url('../images/right.png ') no-repeat -3px 4px;
	color: #ef0e73;
	cursor: pointer;
}
#treeMenu li.contentViewingMain {
	background: url('../images/down.png ') no-repeat -4px 6px;
	color: #ef0e73;
	cursor: pointer;
}
.contentContainer ul, .contentViewing ul, .contentContainerMain ul, .contentViewingMain ul {
	color: #ef0e73;
	margin: 0;
}
#treeMenu li.contentContainerMain a, #treeMenu li.contentViewingMain a {
	display: block;
	height: 20px;
	line-height: 20px;
}
.mainSearch {
	background: url(../images/searchBg.png) no-repeat 4px 0;
	vertical-align: top;
	font-family: Tahoma, Geneva, sans-serif !important;
	font-size: 11px;
}
#loginBox {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 380px;
	height: 280px;
	margin: -150px 0 0 -200px;
	display: none;
	border: #CCCCCC solid 1px;
	background-color: #FFFFFF;
	z-index: 9999;
	padding: 10px;
	text-align: center;
	font-size: 15px;
	border-radius: 5px;
}
#loginMail {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 380px;
	height: 280px;
	margin: -150px 0 0 -200px;
	border: #CCCCCC solid 1px;
	background-color: #FFFFFF;
	z-index: 9999;
	padding: 10px;
	text-align: center;
	font-size: 15px;
	border-radius: 5px;
}
#registBox h3 {
	color: #000000;
	font-size: 17px;
	padding-top: 15px;
}
#registBox {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 480px;
	height: 380px;
	margin: -200px 0 0 -250px;
	display: none;
	border: #CCCCCC solid 1px;
	background-color: #FFFFFF;
	z-index: 9999;
	padding: 10px;
	text-align: center;
	font-size: 15px;
	border-radius: 5px;
}
#loginBox h3 {
	color: #000000;
	font-size: 17px;
	padding-top: 15px;
}
.loginInp {
	width: 210px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	border: #CCCCCC solid 1px;
}
.loginInpT {
	width: 420px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	border: #CCCCCC solid 1px;
}
#fpassword {
	font-size: 11px;
}
#lbtn {
	font-size: 15px;
	text-align: center;
	color: #FFFFFF;
	background-image: url(../images/btn.png);
	cursor: pointer;
	width: 102px;
	height: 22px;
	border: none;
	float: left;
}
#editlbtn {
	font-size: 15px;
	text-align: center;
	color: #FFFFFF;
	background-image: url(../images/btn.png);
	cursor: pointer;
	width: 102px;
	height: 22px;
	border: none;
}
.hLogo {
	width: 162px;
	text-align: center;
	border-bottom: #f3f3f3 solid 1px;
}
.hLogo .current {
	text-decoration: underline;
}
#close {
	position: absolute;
	cursor: pointer;
	margin: -60px 0 0 -10px;
}
#closeI {
	position: absolute;
	cursor: pointer;
	margin: -60px 0 0 -10px;
}
.alg15 {
	height: 22px;
	background: url(../images/15.png) no-repeat top center;
}
.algLofin15 {
	text-align: right;
	height: 10px;
	background: url(../images/login15.png) no-repeat top center;
}
.alg1 {
	height: 1px;
	background: url(../images/11.png) no-repeat top center;
	font-size: 0;
}
.selectfild {
	height: 30px;
	padding: 5px;
	border: #CCCCCC solid 1px;
	width: 210px;
}
.regTblDiv {
	overflow: auto;
	height: 252px;
	padding-bottom: 20px;
}
big {
	color: #FF0000;
}
small {
	color: #555;
}
.edit24 {
	height: 14px;
	padding: 0 0 0 30px;
	background: url(../images/edit24.png) left center no-repeat;
	vertical-align: top;
	width: 20%;
}
.page24 {
	height: 14px;
	padding: 0 0 0 30px;
	background: url(../images/page24.png) left center no-repeat;
	vertical-align: top;
	width: 20%;
}
.shop24 {
	height: 14px;
	padding: 0 0 0 30px;
	background: url(../images/shop24.png) left center no-repeat;
	vertical-align: top;
	width: 20%;
}
.mail24 {
	height: 14px;
	padding: 0 0 0 30px;
	background: url(../images/mail24.png) left center no-repeat;
	vertical-align: top;
	width: 20%;
}
.mapp24 {
	height: 14px;
	padding: 0 0 0 30px;
	background: url(../images/mapp24.png) left center no-repeat;
	vertical-align: top;
	width: 20%;
}
.page24 a, .edit24 a, .shop24 a, .mail24 a, .comm24 a, .adds24 a, .mapp24 a {
	padding-bottom: 10px;
}
#goodNotice {
	display: none;
	left: 50%;
	top: 50%;
	width: 600px;
	height: 55px;
	border: #3C3 solid 1px;
	background-color: #F5FFE8;
	color: #00552B;
	font-size: 15px;
	margin: -50px 0 0 -300px;
	text-align: center;
	z-index: 99999;
	position: fixed;
	padding-top: 45px;
	font-weight: bold;
}
#baadNotice {
	display: none;
	left: 50%;
	top: 50%;
	width: 600px;
	height: 55px;
	border: #F8C2D0 solid 1px;
	background-color: #FEEDF5;
	color: #970425;
	font-size: 15px;
	margin: -50px 0 0 -300px;
	text-align: center;
	z-index: 99999;
	position: fixed;
	padding-top: 45px;
	font-weight: bold;
}
.ajaxloadding {
	background-image: url(../images/loading.gif);
	height: 16px;
	width: 16px;
	display: block;
	float: left;
	margin: 3px 0 0 3px;
}
#loginWrong {
	position: absolute;
	display: none;
	left: 0;
	margin: 0 0 0 120px;
	color: #FF0000;
	font-size: 11px;
	text-align: center;
}
.plusadd {
	text-align: right;
	padding: 30px;
	background: url(../images/addplus.png) left center no-repeat;
	width: 90px;
	height: 24px;
}
.catForm {
	padding-bottom: 2px;
}
.txtDescript {
	border: #CCCCCC solid 1px;
	width: 687px;
}
#upload {
	padding: 5px 0 0 15px;
	font-weight: bold;
	text-align: center;
	background: url(../images/img-add.png) left top no-repeat;
	color: #3366cc;
	height: 30px;
	width: 150px;
	cursor: pointer;
}
.darkbg {
	background: #ddd !important;
}
#status {
	padding: 5px;
}
#files td {
	text-align: center;
	padding: 10px 0;
}
.curamd {
	width: 100px;
	background: url(../images/amd.png) center right no-repeat;
}
.curusd {
	width: 100px;
	background: url(../images/usd.png) center right no-repeat;
}
.cureur {
	width: 100px;
	background: url(../images/eur.png) center right no-repeat;
}
.currub {
	width: 100px;
	background: url(../images/rub.png) center right no-repeat;
}
#sortlist li {
	display: inline-table;
	vertical-align: middle;
	padding: 0;
	margin: 5px;
	border: #EFEFEF solid 1px;
	cursor: move;
}
#sortlist dd {
	width: 10px;
	height: 10px;
	position: absolute;
	cursor: pointer;
	margin: -10px 0 0 80px;
	background-image: url(../images/sclose.png);
}
.lleft {
	position: absolute;
	width: 50px;
	height: 24px;
	margin: -3px 0 0 0;
	background-image: url(../images/ll.png);
}
.rright {
	position: absolute;
	width: 50px;
	height: 24px;
	margin: -20px 0 0 954px;
	background-image: url(../images/rr.png);
}
.vorChe {
	display: none;
	border: #DBDBDB solid 1px;
	background-color: #F4F4F4;
	padding: 5px;
}
.vorChe2 {
	display: none;
	border: #DBDBDB solid 1px;
	background-color: #F4F4F4;
	padding: 5px;
}
#chSelectBrend li {
	list-style: none;
	padding: 4px 2px;
	float: left;
	display: inline;
	width: 162px;
	color: #FF0099;
	cursor: pointer;
}
.prodTbl {
	width: 100%;
	background-color: #EFEFEF;
	margin: 15px 0 0 0;
}
.prodTbl td {
	background-color: #FFF;
	padding: 5px;
}
.ytubev {
	background: url(../images/youtube.png) no-repeat 0 0;
	height: 32px;
}
.jqifade {
	position: absolute;
	background-color: #aaaaaa;
}
div.jqi {
	width: 280px;
	position: absolute;
	background-color: #ffffff;
	font-size: 12px;
	text-align: left;
	border: solid 1px #eeeeee;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 7px;
}
div.jqi .jqicontainer {
	font-weight: bold;
}
div.jqi .jqiclose {
	position: absolute;
	top: 4px;
	right: -2px;
	width: 18px;
	cursor: default;
	color: #bbbbbb;
	font-weight: bold;
}
div.jqi .jqimessage {
	padding: 10px;
	line-height: 20px;
	color: #444444;
}
div.jqi .jqibuttons {
	text-align: right;
	padding: 5px 0 5px 0;
	border: solid 1px #eeeeee;
	background-color: #f4f4f4;
}
div.jqi button {
	padding: 3px 10px;
	margin: 0 10px;
	background-color: #94a345;
	border: solid 1px #f4f4f4;
	color: #ffffff;
	font-weight: bold;
	font-size: 12px;
}
div.jqi button:hover {
	background-color: #728A8C;
}
div.jqi button.jqidefaultbutton {
	background-color: #ff015b;
}
.jqiwarning .jqi .jqibuttons {
	background-color: #ff015b;
}
.collekciaTD {
	padding: 5px 2px;
	border: #CCC solid 1px;
	background-color: #F4F4F4;
}
.pager {
	margin-top: 10px;
}
.pager a {
	min-width: 17px;
	height: 17px;
	background-color: #f0efec;
	border: #d5d5d5 solid 1px;
	float: left;
	display: block;
	margin-right: 5px;
	line-height: 17px;
	text-align: center;
	font-weight: 100;
	font-size: 11px;
	color: #a5a3a4;
	text-decoration: none;
	padding: 0;
}
.pager a:hover {
	background-color: #CCC;
	border: #999 solid 1px;
	color: #FFF;
}
.pager b a {
	background-color: #CCC;
	border: #999 solid 1px;
	color: #FFF;
}
.homeProduct {
	width: 100%;
}
.homeProduct td {
	width: 180px;
	text-align: center;
	vertical-align: top;
}
.nborde {
	border: #EDEDED solid 1px;
}
.homeProduct em {
	color: #FF0066;
}
.gweight {
	width: 100px;
}
.hClass {
	border: #CCC solid 1px !important;
	border-radius: 3px;
	min-height: 230px;
	width: 200px;
	margin: -20px 0 0 -20px;
	position: absolute;
	display: none;
	background-color: #FFFFFF;
	padding: 5px;
	z-index: 999999;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
a.bButton {
	/* Sliding right image */

	background: transparent url(../images/button-right-bg.png) no-repeat top right;
	display: block;
	height: 26px; /* CHANGE THIS VALUE ACCORDING TO IMAGE HEIGHT */
	padding: 0;
	padding-right: 11px; /* CHENGE THIS VALUE ACCORDING TO RIGHT IMAGE WIDTH */
	/* FONT PROPERTIES */

	text-decoration: none;
	color: #444444;
	font-size: 12px;
}
a.bButton span {
	background: transparent url(../images/button-left-bg.png) no-repeat top left;
	display: block;
	line-height: 20px; /* CHANGE THIS VALUE ACCORDING TO BUTTONG HEIGHT */
	padding: 2px 0 0 10px;
	height: 26px;
}
a.bButton:hover {
	color: #FF0676;
	background: transparent url(../images/button-right-h.png) no-repeat top right;
}
a.bButton:hover span {
	color: #FF0676;
	background: transparent url(../images/button-left-h.png) no-repeat top left;
}
.prodCount {
	text-align: right;
}
.siteContPage {
	text-align: left !important;
	padding-left: 15px;
	width: 1px !important;
	padding-top: 3px;
	white-space: nowrap;
}
.siteContPageA a {
	text-align: left !important;
	text-decoration: none;
	float: left;
	padding: 3px 5px;
	color: #333333;
	margin: 0 2px;
}
.siteContPageA a.actv {
	background-color: #FFCCCC;
	color: #FFFFFF;
}
.siteContPageA a.actv:hover {
	color: #FFFFFF;
}
.siteContPageA a:hover {
	color: #FFFFFF;
	background-color: #FFCCCC;
}
.jPaginate {
	height: 34px;
	position: relative;
	color: #a5a5a5;
	font-size: small;
	width: 100%;
}
.jPaginate a {
	line-height: 15px;
	height: 18px;
	cursor: pointer;
	padding: 2px 5px;
	margin: 2px;
	float: left;
}
.jPag-control-back {
	position: absolute;
	left: 0px;
}
.jPag-control-front {
	position: absolute;
	top: 0px;
}
.jPaginate span {
	cursor: pointer;
}
ul.jPag-pages {
	float: left;
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}
ul.jPag-pages li {
	display: inline;
	float: left;
	padding: 0px;
	margin: 0px;
}
ul.jPag-pages li a {
	float: left;
	padding: 2px;
	font-family: Verdana, Geneva, sans-serif;
}
span.jPag-current {
	cursor: default;
	font-weight: normal;
	line-height: 15px;
	height: 18px;
	padding: 2px 5px;
	margin: 2px;
	float: left;
	font-family: Verdana, Geneva, sans-serif;
}
ul.jPag-pages li span.jPag-previous, ul.jPag-pages li span.jPag-next, span.jPag-sprevious, span.jPag-snext, ul.jPag-pages li span.jPag-previous-img, ul.jPag-pages li span.jPag-next-img, span.jPag-sprevious-img, span.jPag-snext-img {
	height: 22px;
	margin: 2px;
	float: left;
	line-height: 18px;
}
ul.jPag-pages li span.jPag-previous, ul.jPag-pages li span.jPag-previous-img {
	margin: 2px 0px 2px 2px;
	font-size: 12px;
	font-weight: bold;
	width: 10px;
}
ul.jPag-pages li span.jPag-next, ul.jPag-pages li span.jPag-next-img {
	margin: 2px 2px 2px 0px;
	font-size: 12px;
	font-weight: bold;
	width: 10px;
}
span.jPag-sprevious, span.jPag-sprevious-img {
	margin: 2px 0px 2px 2px;
	font-size: 18px;
	width: 15px;
	text-align: right;
}
span.jPag-snext, span.jPag-snext-img {
	margin: 2px 2px 2px 0px;
	font-size: 18px;
	width: 15px;
	text-align: right;
}
span.jPag-sprevious-img {
	background: transparent url(../images/sprevious.png) no-repeat center right;
}
span.jPag-snext-img {
	background: transparent url(../images/snext.png) no-repeat center left;
}
.pageadncount {
	width: 100%;
}
.pageadncount td {
	width: auto;
}
h1 {
	font-size: 17px;
	padding: 0 0 5px 0;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.prodInfo {
	vertical-align: top;
}
.prodInfo b {
	font-size: 24px;
	color: #FF0099;
	font-family: Palatino, "Book Antiqua", serif;
	border: #F3F7F5 solid 1px;
	padding: 3px;
	border-radius: 3px;
}
.prodInfo p {
	padding: 10px 0 0 0;
}
.prodImg {
	width: 430px;
	vertical-align: top;
	text-align: center;
}
.prodInfoDiv {
	text-align: center;
	padding: 15px 0;
}
.simImg {
	background-color: #F8F8F8;
}
.simImg img {
	margin: 4px 2px;
	cursor: pointer;
	vertical-align: middle;
	max-width: 80px;
	max-height: 80px;
}
#mainImgCont {
	margin: 10px 0;
}
#tooltip {
	width: auto;
	position: absolute;
	z-index: 1;
	border: 1px solid #1593db;
	background-color: #e5f5fe;
	color: #000;
	padding: 3px;
	border-radius: 3px;
	font-size: 10px;
}
.jquery-lightbox-overlay {
	background: #000;
}
.jquery-lightbox {
	position: relative;
	padding: 17px 0;
}
.jquery-lightbox-border-top-left, .jquery-lightbox-border-top-right, .jquery-lightbox-border-bottom-left, .jquery-lightbox-border-bottom-right {
	position: absolute;
	height: 17px;
	width: 12%;
	z-index: 7000;
}
.jquery-lightbox-border-top-left {
	background: url(../images/jquery-lightbox-theme.png) no-repeat 0 0;
	top: 0;
	left: 0;
}
.jquery-lightbox-border-top-right {
	background: url(../images/jquery-lightbox-theme.png) no-repeat right 0;
	top: 0;
	right: 0;
}
.jquery-lightbox-border-top-middle {
	background: #FFFFFF;
	position: absolute;
	height: 7px;
	width: 78%;
	top: 0;
	left: 12%;
	z-index: 7000;
	overflow: hidden;
}
.jquery-lightbox-border-bottom-left {
	background: url(../images/jquery-lightbox-theme.png) no-repeat 0 bottom;
	bottom: 0;
	left: 0;
}
.jquery-lightbox-border-bottom-right {
	background: url(../images/jquery-lightbox-theme.png) no-repeat right bottom;
	bottom: 0;
	right: 0;
}
.jquery-lightbox-border-bottom-middle {
	background: #FFFFFF;
	height: 7px;
	width: 78%;
	position: absolute;
	bottom: 0;
	left: 12%;
	z-index: 7000;
	overflow: hidden;
}
.jquery-lightbox-title {
	background: #ff298e;
	color: #FFFFFF;
	font-family: verdana, arial, serif;
	font-size: 11px;
	line-height: 14px;
	padding: 5px 8px;
	margin: 3px;
	position: absolute;
	bottom: 0;
	z-index: 7000;
	opacity: 0.9;
}
.jquery-lightbox-html {
	z-index: 7000;
	position: relative;
	border: 0;
	border-left: 7px solid #FFFFFF;
	border-right: 7px solid #FFFFFF;
	padding: 0px 15px;
	vertical-align: top;
}
.jquery-lightbox-html embed, .jquery-lightbox-html object, .jquery-lightbox-html iframe {
	vertical-align: top;
}
.jquery-lightbox-background {
	position: absolute;
	top: 7px;
	left: 7px;
	z-index: 6999;
	float: left;
	padding: 0;
}
.jquery-lightbox-background img {
	display: block;
	position: relative;
	border: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
.jquery-lightbox-mode-image .jquery-lightbox-html {
	z-index: 6998;
	padding: 0;
}
.jquery-lightbox-mode-html .jquery-lightbox-background {
	background: #FFFFFF;
}
.jquery-lightbox-mode-html .jquery-lightbox-html {
	overflow: auto;
}
.jquery-lightbox-loading {
	background: #FFFFFF url(../images/loading.gif) no-repeat center center;
}
.jquery-lightbox-button-close {
	background: url(../images/jquery-lightbox-theme.png) no-repeat -190px -115px;
	position: absolute;
	top: 12px;
	right: -26px;
	width: 29px;
	height: 29px;
}
.jquery-lightbox-button-close:hover {
	background: url(../images/jquery-lightbox-theme.png) no-repeat -220px -115px;
}
.jquery-lightbox-button-close span, .jquery-lightbox-buttons span {
	display: none;
}
.jquery-lightbox-mode-image .jquery-lightbox-button-close {
	right: 14px;
	z-index: 7002;
}
.jquery-lightbox-buttons {
	position: absolute;
	top: 7px;
	left: 7px;
	z-index: 7001;
	height: 39px;
	display: none;
}
.jquery-lightbox-buttons .jquery-lightbox-buttons-init, .jquery-lightbox-buttons .jquery-lightbox-buttons-end {
	width: 5px;
	height: 39px;
	float: left;
	display: inline;
}
.jquery-lightbox-buttons .jquery-lightbox-buttons-init {
	background: url(../images/jquery-lightbox-theme.png) no-repeat -151px -153px;
	margin: 7px 0 0 7px;
}
.jquery-lightbox-buttons .jquery-lightbox-buttons-end {
	background: url(../images/jquery-lightbox-theme.png) no-repeat -244px -153px;
	margin: 7px 0 0 0;
}
.jquery-lightbox-buttons .jquery-lightbox-button-left {
	background: url(../images/jquery-lightbox-theme.png) no-repeat -156px -153px;
	width: 24px;
	height: 39px;
	float: left;
	display: inline;
	margin: 7px 0 0 0;
}
.jquery-lightbox-buttons .jquery-lightbox-button-left:hover {
	background: url(../images/jquery-lightbox-theme.png) no-repeat -156px -194px;
}
.jquery-lightbox-buttons .jquery-lightbox-button-right {
	background: url(../images/jquery-lightbox-theme.png) no-repeat -220px -153px;
	width: 24px;
	height: 39px;
	float: left;
	display: inline;
	margin: 7px 0 0 0;
}
.jquery-lightbox-buttons .jquery-lightbox-button-right:hover {
	background: url(../images/jquery-lightbox-theme.png) no-repeat -220px -194px;
}
.jquery-lightbox-buttons .jquery-lightbox-button-max {
	background: url(../images/jquery-lightbox-theme.png) no-repeat -182px -153px;
	width: 36px;
	height: 39px;
	float: left;
	display: inline;
	margin: 7px 0 0 0;
}
.jquery-lightbox-buttons .jquery-lightbox-button-max:hover {
	background: url(../images/jquery-lightbox-theme.png) no-repeat -182px -194px;
}
.jquery-lightbox-buttons .jquery-lightbox-button-min {
	background: url(../images/jquery-lightbox-theme.png) no-repeat -162px -235px;
	width: 36px;
	height: 39px;
	float: left;
	display: inline;
	margin: 7px 0 0 0;
}
.jquery-lightbox-buttons .jquery-lightbox-button-min:hover {
	background: url(../images/jquery-lightbox-theme.png) no-repeat -207px -235px;
}
.jquery-lightbox-buttons-custom {
	height: 39px;
	float: left;
	display: inline;
	background: #FFFFFF;
	line-height: 39px;
	font-size: 10px;
	margin: 7px 0 0 0;
}
.jquery-lightbox-buttons-custom a {
	color: #FFFFFF;
	font-size: 10px;
	display: inline;
	font-weight: normal;
	text-decoration: underline;
	padding: 0 3px;
}
.jquery-lightbox-mode-image .jquery-lightbox-button-close {
	opacity: 0.7;
}
.jquery-lightbox-mode-image .jquery-lightbox-buttons {
	opacity: 0.3;
}
.jquery-lightbox-mode-image:hover .jquery-lightbox-buttons, .jquery-lightbox-mode-image:hover .jquery-lightbox-button-close {
	opacity: 0.9;
}
.jquery-lightbox-navigator {
	display: none;
}
.grayTxt {
	color: #999999;
}
#ytb {
	position: absolute;
	margin: 20px 0 0 710px;
}
#Target {
	position: absolute;
	margin: 20px 0 0 -160px;
	display: none;
}
.plusShadow {
	background: url(../images/15.png) bottom center no-repeat;
	height: 40px;
}
.gcrop {
	display: block;
	height: 190px;
}
.gcrop dd {
	width: 180px;
	height: 130px;
	padding: 3px 0;
	-webkit-box-shadow: 1px 1px 16px rgba(102, 32, 50, 0.1);
	-moz-box-shadow: 1px 1px 16px rgba(102, 32, 50, 0.1);
	box-shadow: 1px 1px 16px rgba(102, 32, 50, 0.1);
	vertical-align: middle !important;
}
.gcrop img {
	max-height: 130px;
	max-width: 180px;
}
#contactBox {
	position: fixed;
	left: 50%;
	top: 50%;
	width: 500px;
	height: 300px;
	margin: -160px 0 0 -260px;
	display: none;
	border: #CCCCCC solid 1px;
	background-color: #FFFFFF;
	z-index: 9999;
	padding: 10px;
	text-align: center;
	font-size: 15px;
	border-radius: 5px;
}
#contactBox h3 {
	color: #000000;
	font-size: 17px;
	padding-top: 15px;
}
.cartTbl {
	width: 100%;
}
.cartTbl td {
	padding: 10px 5px;
	border-bottom: #EDEDED solid 1px;
}
.gtotal {
	text-align: right;
	font-size: 19px;
	color: #FF0099;
	font-style: italic;
	border: none !important;
}
.gtotal em {
	color: #666666;
	font-size: 15px;
}
#clearCart {
	padding: 0 0 0 10px;
	color: red;
}
.title_1 {
	width: 486px;
	background: url(../flags/AM.png) center right no-repeat;
}
.title_2 {
	width: 486px;
	margin: 2px 0;
	background: url(../flags/US.png) center right no-repeat;
}
.title_3 {
	width: 486px;
	background: url(../flags/RU.png) center right no-repeat;
}
.delPrd {
	cursor: pointer;
}
.tripx {
	font-size: 1px;
	height: 3px;
}
.reLoadCat em {
	cursor: pointer;
	color: #FF0099;
}
.reLoadCat em:hover {
	color: #000000;
}
.reLoadCat hr {
	border: #FFFFFF solid 1px;
}
#progressbar {
	border: 1px solid #666;
	width: 200px;
	height: 20px;
	position: relative;
	color: black;
	display: none;
}
#progressbar div.progress {
	position: absolute;
	width: 0;
	height: 100%;
	overflow: hidden;
	background-color: #369;
}
#progressbar div.progress .text {
	position: absolute;
	text-align: center;
	color: white;
}
#progressbar div.text {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
}
.codeandprice {
	text-align: right;
	white-space: nowrap;
}
.codeandprice a {
	margin-bottom: 3px;
}
.ui-multiselect {
	padding: 2px 0;
	text-align: left
}
.ui-multiselect span.ui-icon {
	float: right;
}
.ui-multiselect-single .ui-multiselect-checkboxes input {
	position: absolute !important;
	top: auto !important;
	left: -9999px;
}
.ui-multiselect-single .ui-multiselect-checkboxes label {
	padding: 5px !important
}
.ui-multiselect-header {
	margin-bottom: 3px;
	padding: 3px 0 3px 4px
}
.ui-multiselect-header ul {
	font-size: 12px;
}
.ui-multiselect-header ul li {
	float: left;
	padding: 0 10px 0 0
}
.ui-multiselect-header a {
	text-decoration: none
}
.ui-multiselect-header a:hover {
	text-decoration: underline
}
.ui-multiselect-header span.ui-icon {
	float: left
}
.ui-multiselect-header li.ui-multiselect-close {
	float: right;
	text-align: right;
	padding-right: 0
}
.ui-multiselect-menu {
	display: none;
	padding: 3px;
	position: absolute;
	z-index: 10000;
	text-align: left
}
.ui-multiselect-checkboxes {
	position: relative /* fixes bug in IE6/7 */;
	overflow-y: scroll
}
.ui-multiselect-checkboxes label {
	cursor: default;
	display: block;
	border: 1px solid transparent;
	padding: 3px 1px
}
.ui-multiselect-checkboxes label input {
	position: relative;
	top: 1px
}
.ui-multiselect-checkboxes li {
	clear: both;
	font-size: 0.9em;
	padding-right: 3px
}
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label {
	text-align: center;
	border-bottom: 1px solid
}
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a {
	display: block;
	padding: 3px;
	margin: 1px 0;
	text-decoration: none
}
/* remove label borders in IE6 because IE6 does not support transparency */

* html .ui-multiselect-checkboxes label {
	border: none
}
.ui-multiselect-hasfilter ul {
	position: relative;
	top: 2px
}
.ui-multiselect-filter {
	float: left;
	margin-right: 10px;
	font-size: 11px
}
.ui-multiselect-filter input {
	width: 100px;
	font-size: 10px;
	margin-left: 5px;
	height: 15px;
	padding: 2px;
	border: 1px solid #292929;
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
}
#VoteBtn {
	border: none;
	height: 22px;
	width: 102px;
	background-image: url(../images/btn.png);
	color: #FFF;
	cursor: pointer;
	padding: 0 10px;
}
.voteres {
	background-image: url(../images/indicator.png);
	height: 8px;
}
#codetovar {
	width: 97px;
	height: 26px;
	border: none;
	background-image: url(../images/codetovar.png);
	padding: 0 6px;
	line-height: 26px;
	font-size: 11px;
	color: #FF4992;
	font-weight: bold;
	display: none;
}
#autocpp {
	width: 108px;
	height: 24px;
	border: #D1D1D1 solid 1px;
	padding: 0 6px;
	line-height: 26px;
	font-size: 11px;
	color: #FF4992;
	font-weight: bold;
	border-radius: 4px;
	position: absolute;
	display: none;
	left: 50%;
	margin: 0 0 0 370px;
	z-index: 2;
	top: 176px;
}
#serch {
	background: url(../images/loopa.png);
	height: 22px;
	width: 22px;
	border: none;
	cursor: pointer;
	position: absolute;
	margin: 2px 0 0 -24px;
	display: none;
	z-index: 1;
}
#addHref {
	width: 135px;
}
#noHref {
	width: 135px;
}
#ostotz {
	margin: 30px 10px;
	display: block;
	font-size: 15px;
	text-decoration: underline;
	width: 220px;
	color: #000000;
	font-weight: bold;
}
.testimonials {
	margin: 5px 0;
	border: #CCC dashed 1px;
	padding: 10px;
}
.bbold {
	background-color: #E30062;
	padding: 4px;
	color: #FFF;
	width: 10px;
	float: left;
}
a.nbold {
	color: #000 !important;
	width: 10px;
	padding: 4px;
	float: left;
	display: block !important;
}
.error {
	font-size: 11px;
	display: block;
	color: red;
}
#seCate, #seCat2, #seCat3, #seCat4, #seCall, #seWRBR, #seARB, #Price {
	display: none;
}
.nazakaz {
	padding: 3px;
	border: #FFCCCC solid 1px;
	background-color: #FFF0F8;
	width: 100px;
	text-align: center;
	margin-bottom: 5px;
}
.addAdvert {
	padding: 5px;
}
.addAdvert h1 {
	background-image: url(../images/riclama.png);
	height: 53px;
	width: 747px;
	padding: 5px 0 0 10px;
	color: #FFFFFF;
	font-size: 16px;
}
.oneRiclama {
	width: 100%;
	margin: 5px 0;
	border: #CCCCCC solid 1px;
	background-color: #EEEEEE;
}
.oneRiclama td {
	vertical-align: top;
}
.oneRiclama a {
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	padding: 0;
	margin: 0;
}
.oneRiclama p {
	font-style: italic;
}
.oneRiclama img {
	border: #999 solid 1px;
}
.searchBtn {
	border: none;
	height: 24px;
	width: 102px;
	background-image: url(../images/btns.png);
	color: #FFF;
	cursor: pointer;
	padding: 0 10px;
}
.descr {
	text-align: justify !important;
	line-height: 20px;
}
.descr img {
	margin-right: 10px;
}
.descr table {
	width: 100%;
	border-bottom: #F3F3F3 solid 1px;
	margin-bottom: 10px;
}
.forumR {
	background-color: #F0F0F0;
	padding: 5px;
	margin: 5px 0;
}
#commentID {
}
#commentST {
	margin: 5px 0;
	border: #CCCCCC solid 1px;
	width: 745px;
}
#ananun {
	border: #CCCCCC solid 1px;
	margin: 5px 0;
	height: 22px;
	width: 240px;
	display: none;
}
#map {
	margin: 20px auto;
	border: 1px dashed #C0C0C0;
	width: 740px;
	height: 600px;
}
.s250 {
	position: absolute;
	padding: 5px;
	border: #FF66CC solid 1px;
	background-color: #FFF;
	z-index: 99999;
	left: 50%;
	margin: 30px 0 0 285px;
	border-radius: 10px;
}
.savemapg {
	padding: 10px 10px 10px 0;
	border: #FF66CC solid 1px;
	background-color: #FFF;
	position: absolute;
	z-index: 99999;
	left: 50%;
	margin: 30px 0 0 350px;
	border-radius: 10px;
}
.alignlefttop {
	position: relative;
	float: left;
	margin: -10px 0 0 0;
}
.gmlink {
	color: #FF0099;
	cursor: pointer;
}
.newsize {
	display: table-row;
}
.newsize div {
	display: table-cell;
	padding-bottom: 3px;
	width: 120px;
}
.wbrarmbr {
	cursor: pointer;
}
.stars {
	position: relative;
	margin: 0px auto;
	width: 120px;
	background: url('../images/rate1.png') repeat-x left top;
	cursor: default;
}
.stars .star {
	height: 24px;
	padding-left: 24px;
	background: transparent none repeat-x left top;
	cursor: pointer;
}
.stars:hover .star {
	background-image: url('../images/rate1.png');
}
.stars:hover .star:hover {
	background-image: url('../images/rate3.png');
}
.stars .rating {
	position: absolute;
	height: 100%;
	background: url('../images/rate2.png') repeat-x left top;
}
.stars:hover .rating {
	display: none;
}
.starsno {
	position: relative;
	margin: 0px auto;
	width: 120px;
	background: url('../images/rate1.png') repeat-x left top;
}
.starsno .starno {
	height: 24px;
	padding-left: 24px;
	background: transparent none repeat-x left top;
}
.starsno .ratingno {
	position: absolute;
	height: 100%;
	background: url('../images/rate2.png') repeat-x left top;
}
#topup {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 999;
	width: 42px;
	height: 26px;
	background-image: url(../images/up.png);
	background-position: 0 0;
	cursor: pointer;
	display: none;
}
#topup:hover {
	background-position: 0 26px;
}
.gmapresult {
	border: #CCC solid 1px;
	padding: 5px;
	margin: 0 0 5px 0;
	line-height: 20px;
	background-image: url(../images/noise.png);
}
.gmapresult a {
	display: inherit;
}
.arrowsearch {
	background-image: url(../images/down.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.metalTbl {
	width: 100%;
	background-color: #CCC;
	margin: 10px 0;
}
.metalTbl td {
	background-color: #FFF;
	padding: 2px 5px;
}
.cityBox {
	padding: 7px 0;
	text-align: center;
}
.cityBox strong {
	color: #FD0776;
}
.clabel input[type=checkbox]:not(old), input[type=radio ]:not(old) {
	width : 28px;
	margin : 0;
	padding : 0;
	opacity : 0;
}
.clabel input[type=checkbox]:not(old) + label, input[type=radio ]:not(old) + label {
	display : inline-block;
	margin-left : -28px;
	padding-left : 28px;
	background : url('../images/checks.png') no-repeat 0 0;
	line-height : 24px;
}
.clabel input[type=checkbox]:not(old):checked + label {
	background-position : 0 -24px;
}
.clabel input[type=radio]:not(old):checked + label {
	background-position : 0 -48px;
}
.clabel {
	font-weight: bold;
	color: #F09;
}
